@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body{
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

*{
    margin:0;
    padding:0;
}

.inner-footer{
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 500px;
    margin-bottom:0px;
    background-color: #4285F4;
}

.social-links{
    display: flex;
    flex-wrap: wrap;
}

.social-links ul{
    margin-left: 10px;
    margin-right: 15px;
    padding: 10px;
    display: flex;
    width: 300px;
    height: 30px;
    margin: auto;
    position:relative;
}

.social-items{
    list-style: none;
}

.social-items a{
    display:inline-block;
    height: 38px;
    width: 38px;
    background-color: rgb(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 25px;
    padding: 5px 5px;
    margin-left: 10px;
    margin-right: 15px;
    color: #ffffff;
    position: relative;
    transition: all .25s;
}

img{
    size: 8px;
    vertical-align: middle;
}

.social-items a:hover{
    padding-left: 10px;
}

h2{
    margin-left: 10px;
    margin-right: 10px;
    padding: 25px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    font-style:normal;
}

.quick-links{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    width: 1000px;
    height: 10px;
    margin: auto;
    block-size: 50px;
}

.quick-links ul{
    display: flex;
    flex-wrap: wrap;
}
                                                                
.quick-items{
    list-style: none;
}

.quick-items a{
    margin-left:5px;
    margin-right:0px;
    bottom: 5px;
    text-decoration: none;
    padding: 0 22px;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: 550;
    transition: all .25s;
    display: flex;
    flex-wrap: wrap;
}

.quick-items a:hover{
    color:#DCDCDC;
    padding-top: 8px;
}

.outer-footer{
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    font-style:inherit;
    background-color: #3f3f3f;
}

/*responsive*/
@media(max-width: 1000px){
    .quick-links{
    display: flex;
    width: 650px;
    height: 30px;
    margin: auto;
    block-size: 100px;
    }
}

@media(max-width: 614px){
    .quick-links{
    width: 360px;
    height: 30px;
    margin: auto;
    display: grid;
    grid-gap: 10px 20px;
    block-size: 180px;
    }
}

