<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <title>Footer</title>
    </head>
    <body>
      <h1></h1>       
      <p></p>

      <footer class="footer">
        <div class="inner-footer">
          <div class="social-links">
            <ul>
              <li class="social-items"><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li class="social-items"><a href="#"><i class="fab fa-discord"></i></a></li>
              <li class="social-items"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              <li class="social-items"><a href="#"><img src="/images/GDSC.png" alt="" width="40" height="40"></a></li>
            </ul>           
            </div>
            <h2> Developed with ❤️ by </br></h2>

          <div class="quick-links">
            <ul>
              <li class="quick-items"><a href="https://www.linkedin.com/in/sanjaydevtech" target="_blank">Sanjay</a></li>
              <li class="quick-items"><a href="https://www.linkedin.com/in/jayasakthi-balaji-g 337128204" target="_blank">Jayasakthi</a></li>
              <li class="quick-items"><a href="https://www.linkedin.com/in/harifbx" target="_blank">HariKrishna</a></li>
              <li class="quick-items"><a href="http://www.linkedin.com/in/mohamedfazil17" target="_blank">MohamedFazil</a></li>
              <li class="quick-items"><a href="https://www.linkedin.com/in/jaswanth-solai-ba49b3191" target="_blank">Jaswanth</a></li>
              <li class="quick-items"><a href="https://www.linkedin.com/in/varniha-s-6a7232222" target="_blank">Varniha</a></li>
              <li class="quick-items"><a href="https://www.linkedin.com/in/geetha-palanisamy-b2323b193" target="_blank">Geetha</a></li>
            </ul>
          </div>
        </div>

        <div class="outer-footer">
          Google Developer Student Clubs :)

        </div>
      </footer>

    </body>

    </html>   